.star{
  position: relative;
  width: 0;
  height: 0;
  border-left: 75px solid transparent;
  border-right: 75px solid transparent;
  border-bottom: 150px solid #5ad2f4;
}

.star:after{
  position: absolute;
  content: "";
  top: 50px;
  left: -75px;
  width: 0;
  height: 0;
  border-left: 75px solid transparent;
  border-right: 75px solid transparent;
  border-top: 150px solid #5ad2f4
}
