.diamond{
  width:50px;
  position: relative;
  border-color: transparent;
  border-style: solid;
  border-width: 0 30px 30px 30px;
  border-bottom-color: #fafafa;
}
.daimond::before{
  content: "";
  position:absolute;
  border-style: solid;
  border-color: transparent;
  border-width: 75px 55px 0 55px;
  border-top-color: #fafafa;
  top:30px;
  left:-30px;
}
  
